<div class="Project_header">
    <div class="dots"><img width="50" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr8KM3Y4sQa54cptoI2eqe-H_76mE0KtXWag&usqp=CAU"></div>
    <div class="Project_name">ProjectC</div>
</div>
<div class="Project_nav">
   <div class="bg"><span></span><small>|</small></div>
   <div class="P_title"><h4>Financial Variances</h4></div>
   <div class="p_right">
    <div class="bell"><i class="fa-regular fa-bell"></i></div>
    <div class="login"><i class="fa-regular fa-user"></i>Adam <i class="fa-solid fa-chevron-down"></i></div>
   </div>
</div>
