
<!-- Toolbar -->

<app-header></app-header>
<app-overview></app-overview>

<div class="content">
    <div class="c_left"></div>
    <div class="c_right">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Varience">
                <div class="inner_box">
                    <div class="left_content">
                        <h5>DGP</h5>
                    <h3>123K</h3>
                    <h6>QTR1</h6>
                    <a>Viewmore</a>
                    </div>
                    <div class="right_content">
                        Graph
                    </div>
                </div>
                <div class="inner_box">
                    <div class="left_content">
                        <h5>DGP</h5>
                    <h3>123K</h3>
                    <h6>QTR1</h6>
                    <a>Viewmore</a>
                    </div>
                    <div class="right_content">
                        Graph
                    </div>
                </div>
                <div class="inner_box">
                    <div class="left_content">
                        <h5>DGP</h5>
                    <h3>123K</h3>
                    <h6>QTR1</h6>
                    <a>Viewmore</a>
                    </div>
                    <div class="right_content">
                        Graph
                    </div>
                </div>
                <div class="inner_box">
                    <div class="left_content">
                        <h5>DGP</h5>
                    <h3>123K</h3>
                    <h6>QTR1</h6>
                    <a>Viewmore</a>
                    </div>
                    <div class="right_content">
                        Graph
                    </div>
                </div>
                <div class="inner_box">
                    <div class="left_content">
                        <h5>DGP</h5>
                    <h3>123K</h3>
                    <h6>QTR1</h6>
                    <a>Viewmore</a>
                    </div>
                    <div class="right_content">
                        Graph
                    </div>
                </div>
                <div class="inner_box">
                    <div class="left_content">
                        <h5>DGP</h5>
                    <h3>123K</h3>
                    <h6>QTR1</h6>
                    <a>Viewmore</a>
                    </div>
                    <div class="right_content">
                        Graph
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Commodities">Commodities</mat-tab>
          </mat-tab-group>
     
    </div>
</div>
<router-outlet></router-outlet>